@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="integritasCtrl">
    <div class="divList">
        <p><b><i>Lista de todos os Produtos Cadastrados</i></b>
        </p>
        <table class="table table-hover">
            <tr>
                <td><b>Id do Produto</b></td>
                <td><b>Nome do Produto</b></td>
                <td><b>Tipo do Produto</b></td>
                <td><b>Quantidade</b></td>
                <td><b>Preço</b></td>
            </tr>


        </table>
    </div>   
</div>

