@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="integritasCtrl">
    <div class="divProduct">
        <p><b><i>Lista de todos os Produtos Cadastrados</i></b>
        </p>
        <table class="table table-hover">
            <tr>
                <td><b>Id do Produto</b></td>
                <td><b>Nome</b></td>
                <td><b>Tipo do Produto</b></td>
                <td><b>Quantidade</b></td>
                <td><b>Preço</b></td>
            </tr>

            <tr ng-repeat="product in products">
                <td>{{product.Id}}</td>
                <td>{{product.ProductName}}</td>
                <td>{{product.ProductType}}</td>
                <td>{{product.Quantity}}</td>
                <td>{{product.Price}}</td>

                <td>
                    <span ng-click="getById(product)" class="btn btn-primary">Atualizar</span>
                    <span ng-click="deleteProduct(product)" class="btn btn-danger">Excluir</span>
                </td>
            </tr>
        </table>
    </div>   
</div>

